.todo{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 15%;
}

.form1{
    width: 20%;
}

.form2{
    margin-left: 5%;
    margin-right: 2%;
    width: 10%;
}