body{
    background: url(../img/foto5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.todo{

    margin-top: 10%;
    margin-left: 15%;
    
    width: 50%;
}

.form1{
    background-color: #002aab;
    margin-left: 45%;
    margin-right: 2%;
    width: 50%;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    color: black;
}

.msg{
    margin-left: 45%;
    margin-right: 2%;
    width: 50%;
    height: 80px;
    background-color: #E2E2E2;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Courier New', Courier, monospace;
}

.form2{
    margin-left: 45%;
    margin-right: 2%;
    width: 50%;
    background-color: #95a8ff;
}